<p>client-fans-tab works!</p>
<div class="user_list_container">
    <div class="user_list_item">
        <div class="user_list_info">
            <img src="../../../../assets/images/profile_2.jpeg" class="rounded-circle">
            <div class="user_info">
                <div class="username">Username</div>
                <div class="user_badges_container">
                    <span class="badge badge_subscribed">Subscribed</span>
                    <span class="badge badge_blocked">Blocked</span>
                </div>
            </div>
        </div>
        <div class="user_list_add_info">
            <div class="user_tips_container">
                <img src="../../../../assets/icons/tip_2.svg">
                <div class="tip_info">
                    <div class="tip_amount">$56</div>
                    <div>Tips</div>
                </div>
            </div>
            <div class="btn" style="background-color: #457B9D;color: #F1FAEE;">Details</div>
            <div class="btn message_btn" style="background-color: #1D3557;color: #F1FAEE;">
                <img src="../../../../assets/icons/chatting.svg">
                <div>Message</div>
            </div>
            <div class="user_action_container">
                <div class="btn btn_restrict">Restrict</div>
                <div class="btn btn_unblock">Unblock</div>
            </div>
        </div>
    </div>
    <div class="user_list_item">
        <div class="user_list_info">
            <img src="../../../../assets/images/profile_2.jpeg" class="rounded-circle">
            <div class="user_info">
                <div class="username">Username</div>
                <div class="user_badges_container">
                    <span class="badge badge_not_subscribed">Subscribed</span>
                    <span class="badge badge_restricted">Blocked</span>
                    <span class="badge badge_active">Active</span>
                </div>
            </div>
        </div>
        <div class="user_list_add_info">
            <div class="user_tips_container">
                <img src="../../../../assets/icons/tip_2.svg">
                <div class="tip_info">
                    <div class="tip_amount">$56</div>
                    <div>Tips</div>
                </div>
            </div>
            <div class="btn" style="background-color: #457B9D;color: #F1FAEE;">Details</div>
            <div class="btn message_btn" style="background-color: #1D3557;color: #F1FAEE;">
                <img src="../../../../assets/icons/chatting.svg">
                <div>Message</div>
            </div>
            <div class="user_action_container">
                <div class="btn btn_restrict">Restrict</div>
                <div class="btn btn_unblock">Unblock</div>
            </div>
        </div>
    </div>  
</div>
