<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>
<!-- <div class="nav_bar">
  <div class="cmp_logo">Company Name</div>
  <div class="nav_menus">
    <div class="Home">
      <a [routerLink]="[ '/']">Home</a>
    </div>
    <div class="LogIn">
      <a [routerLink]="[ 'auth_user/login']">LogIn</a>
    </div>
    <div class="SignUp">
      <a [routerLink]="[ 'auth_user/signup']">SignUp</a>
    </div>
  </div>
</div> -->
<router-outlet>
  
</router-outlet>

