.nav_bar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: gray;
}
.cmp_logo{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav_menus{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    padding: 10px 20px ;
    background-color: aqua;
    color: black;
    font-weight: 800;
}