<!-- <h1>SignUp Form</h1>

<form #user_signup_form="ngForm" class="container" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-group">
        <label for="username">Username:</label>
        <input required [class.is-invalid]="name.touched && name.invalid" #name="ngModel" name="username" type="text" class="form-control" id="username" [(ngModel)]="newUser.username">
        <div *ngIf="name.touched && name.invalid && name.errors">
            <small class="alert alert-danger">Username is required</small>
        </div>
        
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input required [class.is-invalid]="email.touched && email.invalid" #email="ngModel" name="user_email" type="email" class="form-control" id="email" [(ngModel)]="newUser.email"  email>
        <div *ngIf="email.touched && email.invalid && email.errors">
            <small *ngIf="email.errors.required" class="alert alert-danger">Email is required</small>
            <small *ngIf="email.errors.email" class="alert alert-danger">Enter a valid email</small>
        </div>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input #pwd="ngModel" required [class.is-invalid]="pwd.touched && pwd.invalid" name="user_pwd" type="password" class="form-control" id="pwd" [(ngModel)]="newUser.password">
        <div *ngIf="pwd.touched && pwd.invalid && pwd.errors">
            <small class="alert alert-danger">Password is required</small>
        </div>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input #CONFIRM_pwd="ngModel" required [class.is-invalid]="CONFIRM_pwd.touched && CONFIRM_pwd.invalid" name="user_confirm_pwd" type="password" class="form-control" id="confirm_pwd" ngModel>
        <div *ngIf="(CONFIRM_pwd.value!=pwd.value && CONFIRM_pwd.touched)">
            <small class="alert alert-danger">Password doesn't match</small>
        </div>
    </div>
    
    <button [disabled]="user_signup_form.invalid || CONFIRM_pwd.value!=pwd.value" type="submit" class="btn btn-primary">Submit</button>
</form> -->
