<!-- <p>client-dashboard works!</p>
<a [routerLink]="[ '/client' ]">Home</a>
<a [routerLink]="[ '/client/upload' ]">Upload</a>
<a [routerLink]="[ '/client/messaging' ]">Messaging</a> -->

<div id="wrapper" class="wrapper">
  
  <div id="client_sidenav" class="sidenav">
    <a href="javascript:void(0)" id="close_btn_sidenav" class="closebtn" (click)="closeNav()">&times;</a>
    <i  class="fas fa-user-circle fa-9x" *ngIf="!(CurrentUserStateService.current_user$ | async).profile_picture"></i>
    <img class="rounded-circle" *ngIf="(CurrentUserStateService.current_user$ | async).profile_picture" src={{CurrentUserStateService.getCurrentUser().profile_picture}}>
    <div id="side_nav_profile_username" class="side_nav_profile_username">{{(CurrentUserStateService.current_user$ | async).username}}</div>
    <div class="sidenav_profile_stars">
      <div class="start_container">
        <img src="../../../../assets/icons/followers.svg">
        <div>89k</div>
        <div class="star_type">Subscribers</div>
      </div>
      <div class="vertical_line"></div>
      <div class="start_container">
        <img src="../../../../assets/icons/heart.svg">
        <div>89k</div>
        <div class="star_type">Likes</div>
      </div>
      <div class="vertical_line"></div>
      <div class="start_container">
        <img src="../../../../assets/icons/tip_4.svg">
        <div>89k</div>
        <div class="star_type">Tips</div>
      </div>
    </div>
    
    <div class="client_sidenav_menu_container">
      <div class="client_sidebar_nav_menu" [routerLink]="[ '/client/home']" routerLinkActive="active_sidebar_menu">
        <img src="../../../../assets/icons/home.svg">
        <div>Home</div>
      </div>
      <div class="client_sidebar_nav_menu" [routerLink]="[ '/client/upload']" routerLinkActive="active_sidebar_menu">
        <img src="../../../../assets/icons/upload.svg">
        <div>Upload</div>
      </div>
      <div class="client_sidebar_nav_menu" [routerLink]="[ '/client/messaging']" routerLinkActive="active_sidebar_menu">
        <img src="../../../../assets/icons/chatting.svg">
        <div>Messaging</div>
      </div>
      <div class="client_sidebar_nav_menu" [routerLink]="[ '/client/fans_tab']" routerLinkActive="active_sidebar_menu">
        <img src="../../../../assets/icons/fans.svg" fill="white">
        <div>Fans Tab</div>
      </div>
      <div class="client_sidebar_nav_menu" [routerLink]="[ '/client/finance']" routerLinkActive="active_sidebar_menu">
        <img src="../../../../assets/icons/finance.svg">
        <div>Finance</div>
      </div>
      <div class="client_sidebar_nav_menu" [routerLink]="[ '/client/profile']" routerLinkActive="active_sidebar_menu">
        <img src="../../../../assets/icons/Edit_Profile.svg">
        <div>Profile</div>
      </div>
    </div>
    
  </div>

  

  <!-- Content Wrapper. Contains page content -->
  <div id="client_contentWrapper" class="contentWrapper" style="position: relative;">
      
    <div id="client_top_nav" class="top_nav">
      <a class="nav-link mr-2" style="width: 2%;" data-widget="pushmenu" (click)="toggleNav()"><i class="fas fa-bars"></i></a>
      <div class="top_nav_content">
          <div class="user_nav_client_name" style="font-size: x-large;font-weight: 600;float: left;">{{CurrentUserStateService.getClient().username}}</div>
          
          <div class="top_nav_right_menus_container">
            <a [routerLink]="[ '/client/upload' ]" class="nav-link" data-toggle="dropdown" href="#">
              <button class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i> Upload</button>
            </a>
            <div *ngIf="is_logged_in" class="nav-item dropdown">
                <a class="nav-link navbar_profile" data-toggle="dropdown" href="#">
                <!-- <img src="../../../../assets/images/profile_2.jpeg" class="rounded-circle"> -->
                <img *ngIf="CurrentUserStateService.getCurrentUser().profile_picture" src={{CurrentUserStateService.getCurrentUser().profile_picture}} class="rounded-circle">
                  <i *ngIf="!CurrentUserStateService.getCurrentUser().profile_picture" class="fas fa-user-circle fa-2x"></i>
                <div>{{CurrentUserStateService.getCurrentUser().username}}</div>
                <!-- <i class="far fa-bell"></i> -->
                <!-- <span class="badge badge-warning navbar-badge">15</span> -->
                </a>
                <div class="dropdown-menu dropdown-menu dropdown-menu-right">
                  <span class="dropdown-item dropdown-header text-center">{{CurrentUserStateService.getCurrentUser().username}}</span>
                  <div class="dropdown-divider"></div>
                  <a *ngIf="CurrentUserStateService.getCurrentUser().is_client" href="#" class="dropdown-item navbar_profile_dropdown" [routerLink]="[ '/client/profile' ]">
                      <!-- <i class="fas fa-envelope mr-2"></i> 4 new messages
                      <span class="float-right text-muted text-sm">3 mins</span> -->
                      <i class="fas fa-users-cog"></i>
                      <div>Profile Settings</div>
                      
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item navbar_profile_dropdown" (click)="onLogOut()">
                      <i class="fas fa-sign-out-alt"></i>
                      <div>Log Out</div>
                  </a>
                <div class="dropdown-divider"></div>
                <!-- <a href="#" class="dropdown-item">
                    <i class="fas fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a> -->
                </div>
            </div>
            <!-- <div *ngIf="!is_logged_in" class="nav-item">
                <a class="btn btn-primary ml-2" (click)="openLoginModal()">Log In</a>
                <a class="btn btn-info ml-2" (click)="openRegisterModal()">Sign Up</a>
            </div> -->
          </div>
      </div>
      
    </div>


    <div style="width: 100%;margin-top: 6vh;">
      <router-outlet></router-outlet>
    </div>
      
      
   

   
   
  </div>
  <!-- /.content-wrapper -->

  




  <footer id="footer" style="position: relative;z-index: 1050;">
    <div class="footer-wrap">
    <div class="container first_class">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h3>BE THE FIRST TO KNOW</h3>
            <p>Get all the latest information on  Triedge Services, Events, Jobs
              and Fairs. Sign up for our newsletter today.</p>
          </div>
          <div class="col-md-4 col-sm-6">
          <form class="newsletter">
            <input type="text" placeholder="Email Address"> 
                                                          <button class="newsletter_submit_btn" type="submit"><i class="fa fa-paper-plane"></i></button>  
          </form>
          
          </div>
          <div class="col-md-4 col-sm-6">
          <div class="col-md-12">
            <div class="standard_social_links">
          <div>
            <li class="round-btn btn-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>
  
            </li>
            <li class="round-btn btn-linkedin"><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
  
            </li>
            <li class="round-btn btn-twitter"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
  
            </li>
            <li class="round-btn btn-instagram"><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
  
            </li>
            <li class="round-btn btn-whatsapp"><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
  
            </li>
            <li class="round-btn btn-envelop"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  
            </li>
          </div>
        </div>  
          </div>
            <div class="clearfix"></div>
          <div class="col-md-12"><h3 style="text-align: right;">Stay Connected</h3></div>
          </div>
        </div>
    </div>
      <div class="second_class">
        <div class="container second_class_bdr">
        <div class="row">
          <div class="col-md-4 col-sm-6">
  
            <!-- <div class="footer-logo"><img src="http://localhost/lrn/img/footer_logo.png" alt="logo">
            </div>
            <p>Your one-stop career platform to find Jobs, Internships, Professional Trainings, Projects, and Volunteering Opportunities.</p> -->
            <h6 style="color: white;">Disclaimer : </h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus, magnam, voluptatem repellendus dignissimos, totam impedit aliquid quod quas sapiente magni. Quod, nihil? Suscipit, ea?</p>
          </div>
          <div class="col-md-2 col-sm-6">
            <!-- <h3>Quick  LInks</h3>
            <ul class="footer-links">
              <li><a href="#">Home</a>
              </li>
              <li><a href="#">About us</a>
              </li>
              <li><a href="#">Triedge Partners</a>
              </li>
              <li><a href="#">Contact Us</a>
              </li>
              <li><a href="#" target="_blank">Terms &amp; Conditions</a>
              </li>
              <li><a href="#" target="_blank">Privacy Policy</a>
              </li>
              <li><a href="#">Sitemap</a>
              </li>
            </ul> -->
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- <h3>OUR SERVICES</h3>
            <ul class="footer-category">
              <li><a href="#">Fresher Jobs</a>
              </li>
              <li><a href="#">InternEdge - Internships &amp; Projects </a>
              </li>
              <li><a href="#">Resume Edge - Resume Writing Services</a>
              </li>
              <li><a href="#">Readers Galleria - Curated Library</a>
              </li>
              <li><a href="#">Trideus - Campus Ambassadors</a>
              </li>
            </ul> -->
            <div class="clearfix"></div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- <h3>triedge Events</h3>
            <ul class="footer-links">
              <li><a href="#">Triedge Events</a>
              </li>
  
              <li><a href="#">Jobs Internship Fair 2019</a>
              </li>
            </ul> -->
          </div>
        </div>
        
      </div>
      </div>
      
      <div class="row">
        
        <div class="container-fluid">
        <div class="copyright"> Copyright 2019 | All Rights Reserved by code2transform Pvt. Ltd.</div>
        </div>
        
      </div>
    </div>
    
  </footer>

  
</div>







