<div class="upload_container">
    <div ngx-dropzone class="dropzone" (change)="onSelect($event)" [accept]="'*'" [multiple]="false">
        <ngx-dropzone-label>
            <div>
                <i class="fas fa-cloud-upload-alt fa-5x"></i>
                <h2>Drag and drop Files to Upload</h2>
                <h6>Or</h6>
            </div>
            <button class="btn" style="background-color: var(--primary);color: white;font-weight: 600;">Browse Files</button>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview  ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label style="margin: auto;">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
        
    </div>
    <small style="color: red;">{{media_upload_error_message}}</small>
    <form #post_form="ngForm">
        <div class="form-group mt-4">
            
            <label style="line-height: 0.8rem;">Title/Caption</label>
            <small style="color: red;display: block;" *ngIf="(post_caption.invalid &&( post_caption.dirty || post_caption.touched))">
                Please provide a caption for your Post
            </small>
            <textarea class="form-control" rows="3" placeholder="Add your Post Title/Caption Here ...." name="post_caption" #post_caption="ngModel" ngModel required></textarea>
        </div>
    
        <label style="line-height: 0.8rem;">User Accessibility</label>
        <!-- <div style="display: flex;justify-content: flex-start;">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="accessibility" id="accessibility_all" value="accessibility_all" checked>
                <label class="form-check-label" for="accessibility_all">
                  All
                </label>
            </div>
            <div class="form-check row" style="margin-left: 20px;">
                <input class="form-check-input" type="radio" name="accessibility" id="accessibility_subscribed" value="accessibility_subscribed">
                <label class="form-check-label" for="accessibility_subscribed">
                  Subscribed User
                </label>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-form-label">Email</label>
                    <input class="form-control" type="email" id="inputEmail3" placeholder="Email">
                </div>
                
            </div>
        </div> -->
        <div class="form-inline d-flex flex-row justify-content-start pl-4">
            <div class="accessibility_all_container mr-2">
                <input class="form-check-input" type="radio" name="accessibility" id="accessibility_all" checked [(ngModel)]="post.accessibility" value="all">
                <label class="form-check-label" for="accessibility_all">
                    <div>
                        All
                    </div>
                    <div>
                        <small style="color: gray;">(Free for all Users)</small>
                    </div>
                    
                    
                </label>
            </div>
            <div class="accessibility_subscribed_container d-flex flex-column pl-4">
                <div class="subscribed_user_radio_container">
                    <input class="form-check-input" type="radio" name="accessibility" id="accessibility_subscribed" [(ngModel)]="post.accessibility" value="subscribed">
                    <label class="form-check-label" for="accessibility_subscribed">
                        Subscribed User
                    </label>
                </div>

                <div *ngIf="post.accessibility === 'subscribed' " class="tip_amount_container">
                    <label for="tip_amount">$</label>
                    <input class="form-control col-10 ml-1" type="number" id="tip_amount" placeholder="Tip Amount" name="post_tip_to_unlock" #post_tip_to_unlock="ngModel" [(ngModel)]="post.tip_to_unlock">
                </div>
            </div>
          
            
            
            

            
        </div>
        <!-- (change)="changeAccessibility($event)" -->
        <!-- [class.d-none]="post_form.invalid || files==[] -->
        
        <button *ngIf="files.length==0 || post_form.invalid" (click)="onUploadPost(post_form)" class="btn btn-primary mt-4" disabled>Upload Post</button>
        <button *ngIf="!(files.length==0 || post_form.invalid)" (click)="onUploadPost(post_form)" class="btn btn-primary mt-4">
            <span *ngIf="uploading_post_spinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="uploading_post_spinner">Uploading ...</span>
            <span *ngIf="!uploading_post_spinner">Upload Post</span>
        </button>
    </form>
    
</div>

