
.upload_container{
    width: 95%;
    min-height: 100vh;
    margin: auto;
}
.upload_container > div{
    width: 100%;
}
.dropzone{
    height: 50vh;
}

.accessibility_all_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribed_user_radio_container, .tip_amount_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 760px){
    .accessibility_all_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .subscribed_user_radio_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .tip_amount_container{
        display: flex;
        justify-content: center;
        align-items: start;
    }
    
}