<div class="post_card_container">
    <div class="post_card">
        <div class="post_header">
            <div class="post_client_profile">
                <img class="post_client_image rounded-circle" src="../../../../assets/images/profile_2.jpeg">
                <div class="post_client_info">
                    <div class="post_client_name">{{post_details.client_username}}</div>
                    <div class="post_client_followers">{{post_details.client_subscriber_count}} Subscribers</div>
                </div>
            </div>
            <div *ngIf="CurrentUserStateService.getCurrentUser().is_client" class="edit_post_container mr-4">
                <div class="btn btn-danger" data-toggle="modal" data-target="#deletePostModal" (click)="set_post_to_be_deleted(post_details.post_info._id)">Delete</div>
            </div>
            <div *ngIf="CurrentUserStateService.getCurrentUser().is_client" class="edit_post_container mr-4">
                <div class="btn btn-info" data-toggle="modal" data-target="#editPostModal" (click)="set_post_to_be_edited(post_details.post_info)">Edit</div>
            </div>
        </div>
        <div class="post_content">
            <div class="post_caption">
                {{post_details.post_info.caption}}
            </div>
            <div *ngIf="!is_logged_in;else logedInNav" class="post_media">
                <div class="no_access_media">
                    <img src="../../../../assets/icons/lock.svg">
                    <div class="btn btn-danger" data-toggle="modal" data-target="#loginModal">LogIn/SignUp</div>
                </div>
                <img src="../../../../assets/images/post_2.jpg">
            </div>
            <ng-template #logedInNav>
                <div *ngIf="!post_details.user_is_subscribed;else subscribed_post" class="post_media">
                    <div *ngIf="!post_details.post_info.media" class="post_media">
                        <div class="no_access_media">
                            <img src="../../../../assets/icons/lock.svg">
                            <div class="btn btn-danger" data-toggle="modal" data-target="#subscribeModal">Subscribe</div>
                            
                        </div>
                        <img src="../../../../assets/images/post_2.jpg">
                    </div>
                    <div *ngIf="post_details.post_info.media" class="post_media">
                        <img *ngIf="post_details.post_info.media_type=='image'" src={{post_details.post_info.media}}>
                        <audio *ngIf="post_details.post_info.media_type=='audio'" controls controlsList="nodownload">
                            <source src={{post_details.post_info.media}} type="audio/mpeg">
                        Your browser does not support the audio element.
                        </audio>
                        <video *ngIf="post_details.post_info.media_type=='video'" id="video1" width="420" controls controlsList="nodownload">
                            <source src={{post_details.post_info.media}} type="video/mp4">
                        Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
                <ng-template #subscribed_post>
                    <div *ngIf="post_details.post_info.media" class="post_media">
                        <!-- <img src={{post_details.post_info.media}}> -->
                        <img *ngIf="post_details.post_info.media_type=='image'" src={{post_details.post_info.media}}>
                        <audio *ngIf="post_details.post_info.media_type=='audio'" controls controlsList="nodownload">
                            <source src={{post_details.post_info.media}} type="audio/mpeg">
                        Your browser does not support the audio element.
                        </audio>
                        <video *ngIf="post_details.post_info.media_type=='video'" id="video1" width="420" controls controlsList="nodownload">
                            <source src={{post_details.post_info.media}} type="video/mp4">
                        Your browser does not support HTML video.
                        </video>
                    </div>
                    <div *ngIf="!post_details.post_info.media" class="post_media">
                        <div class="no_access_media">
                            <img src="../../../../assets/icons/lock.svg">
                            <div class="btn btn-danger" (click)="openTipToUnlockModal(post_details)" data-toggle="modal" data-target="#tipToUnlockModal">Tip ${{post_details.post_info.tip_to_unlock}} to unlock</div>
                        </div>
                        <img src="../../../../assets/images/post_2.jpg">
                    </div>
                </ng-template>
            </ng-template>
            
        </div>
        <div class="post_footer">
            <!-- Like Container -->
            <div *ngIf="!is_logged_in;else logged_in_like_container">
                <div class="post_likes_container">
                    <img src="../../../../assets/icons/heart_blank.svg">
                    <div class="post_likes_count">{{post_details.post_info.no_of_likes}} Likes</div>
                </div>
            </div>
            <ng-template #logged_in_like_container>
                <div *ngIf="post_details.post_info.accessible_by_all;else logged_in_unaccessible_like_container">
                    <div class="post_likes_container" (click)="likeOrDislikePost(post_details)">
                        <img *ngIf="post_details.is_liked" src="../../../../assets/icons/heart.svg">
                        <img *ngIf="!post_details.is_liked" src="../../../../assets/icons/heart_blank.svg">
                        <div class="post_likes_count">{{post_details.post_info.no_of_likes}}
                             Likes</div>
                    </div>
                </div>
                <ng-template #logged_in_unaccessible_like_container>
                    <div *ngIf="!post_details.user_is_subscribed;else subscribed_like_container" data-toggle="modal" data-target="#subscribeModal" class="post_likes_container">
                        <img src="../../../../assets/icons/heart_blank.svg">
                        <div class="post_likes_count">{{post_details.post_info.no_of_likes}} Likes</div>
                    </div>
                </ng-template>
                
               
                <ng-template #subscribed_like_container>
                    <div *ngIf="post_details && post_details.hasOwnProperty('isTipEnough');else canLikeDislikePost" class="post_likes_container" (click)="openTipToUnlockModal(post_details)">
                        <img src="../../../../assets/icons/heart_blank.svg">
                        <div class="post_likes_count">{{post_details.post_info.no_of_likes}} Likes</div>
                    </div>
                    <ng-template #canLikeDislikePost>
                        <div class="post_likes_container" (click)="likeOrDislikePost(post_details)">
                            <img *ngIf="post_details.is_liked" src="../../../../assets/icons/heart.svg">
                            <img *ngIf="!post_details.is_liked" src="../../../../assets/icons/heart_blank.svg">
                            <div class="post_likes_count">{{post_details.post_info.no_of_likes}} Likes</div>
                        </div>
                    </ng-template>
                </ng-template>
                
            </ng-template>

            <!-- Comment Container -->
            <div class="post_comment_btn_container" *ngIf="is_logged_in" (click)="show_hide_comment()">
                <img src="../../../../assets/icons/comment.svg">
                <div class="post_comments_count">Comments</div>
            </div>
            <div class="post_comment_btn_container" *ngIf="!is_logged_in">
                <img src="../../../../assets/icons/comment.svg">
                <div class="post_comments_count">Comments</div>
            </div>


            <!-- Tip Me Container -->
            <div class="post_tips_container">
                <a id="pay_to_unlock_post_btn" *ngIf="post_details.hasOwnProperty('isTipEnough') && !post_details.isTipEnough;else non_tip_post" class="btn tip_btn" (click)="openTipToUnlockModal(post_details)" data-toggle="modal" data-target="#tipToUnlockModal">
                    <img src="../../../../assets/icons/tip_2.svg">
                    <div>Tip Me</div>
                </a>
                
                <ng-template #non_tip_post>
                    <a class="btn tip_btn" (click)="openTipModal(post_details)" data-toggle="modal" data-target="#tipModal">
                        <img src="../../../../assets/icons/tip_2.svg">
                        <div>Tip Me</div>
                    </a>
                </ng-template>
                
                
            </div>

            

            <!-- Date Container -->
            <div class="post_date_container">
                <img src="../../../../assets/icons/calendar.svg">
                <div>
                    <!-- <div>{{tm}}</div> -->
                    <div class="post_publish_date">{{dt}}</div>
                </div>
            </div>
            
            
        </div>
        <!-- Comments Container -->
        <div *ngIf="open_comment_container" id="post_comments_container" class="post_comments_container">
            <div class="post_comments_header">
                <img src="../../../assets/icons/comment.svg">
                <div class="ml-2">Comments</div>
            </div>
            <div class="post_comment_input_container">
                <div class="comment_current_user_avatar_container pr-2">
                    <div *ngIf="!CurrentUserStateService.getCurrentUser().profile_picture">
                        <i class="fas fa-user-circle fa-4x"></i>
                    </div>
                    <img *ngIf="CurrentUserStateService.getCurrentUser().profile_picture" src={{CurrentUserStateService.getCurrentUser().profile_picture}} class="rounded-circle">

                </div>
                <div class="comment_input_field">
                    <input name="comment_text" type="text" placeholder="Type your Coment Here ..." #comment_text>
                </div>
                <div class="make_comment_button">
                    <div class="btn btn-primary" (click)="comment(comment_text)">Comment</div>
                </div>
            </div>
            <!-- Loading Icon -->
            <div *ngIf="prev_comment_loading_spinner" style="width: 100%;height: 10vh;display: flex;justify-content: center;align-items: center;">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="comment_list_container">
                <ng-container *ngFor="let comment of CommentStateService.comments_for_post$ | async">
                    <div *ngIf="comment.post_id==post_details.post_info._id"  class="previous_comment_container">
                        <!-- *ngIf="comment.post_id==post_details.post_info._id"  *ngIf="comment[0].post_id == post_details.post_info._id"-->
                       
                        <div class="commented_user_avatar">
                            <div *ngIf="!comment.user_profile_picture">
                                <i class="fas fa-user-circle fa-4x"></i>
                            </div>
                            <img *ngIf="comment.user_profile_picture" src={{comment.user_profile_picture}} class="rounded-circle">
                        </div>
                        <div class="previous_comment_body ml-1">
                            <div class="commented_user_username">
                                {{comment.username}}
                            </div>
                            <div class="comment_text">
                                {{comment.comment_text}}
                            </div>
                            <div class="comment_footer">
                                <div class="comment_likes_container">
                                    <img *ngIf="comment.user_id != CurrentUserStateService.getCurrentUser()._id && !comment.is_liked_by_user" class="normal_like_btn" (click)="likeDislikeComment(comment.comment_id)" src="../../../assets/icons/like.png">
                                    <img *ngIf="comment.user_id != CurrentUserStateService.getCurrentUser()._id && comment.is_liked_by_user" class="liked_like_btn" (click)="likeDislikeComment(comment.comment_id)" src="../../../assets/icons/like.png">
                                    <img *ngIf="comment.user_id == CurrentUserStateService.getCurrentUser()._id" src="../../../assets/icons/like.png" class="normal_like_btn">
                                    <div class="comment_likes_count">{{comment.comment_likes_count}}</div>
                                </div>
                                <div *ngIf="comment.user_id == CurrentUserStateService.getCurrentUser()._id" (click)="delete_comment(comment.comment_id)" class="comment_delete_container">
                                    <img src="../../../assets/icons/delete_black.png">
                                </div>
                                <!-- <div class="comment_reply ml-2">Reply</div>
                                <div class="comment_view_reply ml-2">View Reply</div> -->
                            </div>
                        </div>
                        
                    </div>
                </ng-container>
                
                
            </div>
        </div>
    </div>
    
    
</div>


<!-- Tip for Tipped Content -->
<!-- <div class="modal fade" id="tipToUnlockModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tip to Unlock the post</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Min $5 tip needed to unlock the post&hellip;</p>

          <form #tipToUnlockForm="ngForm" class="form-inline" style="display: flex;flex-direction: row;justify-content: space-around;align-items: center;">
            <div class="form-group mb-2">
              <h6 style="font-weight: 600;">Tip Amount : </h6>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">$</label>
              <input #tipToUnlockAmount="ngModel" *ngIf="tipToUnlockPostAmount!=0" type="number" class="form-control" id="tip_to_unlock_amount" name="tipToUnlockAmount" placeholder="Tip Amount" [(ngModel)]="tipToUnlockPostAmount">
              
            </div>
            <button type="submit" class="btn btn-primary mb-2" (click)="payToUnlockPost(tipToUnlockForm)" [class.disabled]="tipToUnlockForm.value.tipToUnlockAmount < post_details.post_info.tip_to_unlock" >Pay to Unlock</button>
          </form>
          <div *ngIf="tipToUnlockForm.value.tipToUnlockAmount < post_details.post_info.tip_to_unlock">
              <small style="color: red;">Min ${{post_details.post_info.tip_to_unlock}} Tip needed to Unlock the Post</small>
          </div>
        </div>

        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div> -->

<!-- Tip for free content -->
<!-- <div class="modal fade" id="tipModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tip for the Post</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Your every Tip means a lot to me&hellip;</p>

          <form #tipPostForm="ngForm" class="form-inline" style="display: flex;flex-direction: row;justify-content: space-around;align-items: center;">
            <div class="form-group mb-2">
              <h6 style="font-weight: 600;">Tip Amount : </h6>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">$</label>
              <input #tipPostAmount="ngModel" type="number" class="form-control" id="tip_amount" name="tip_amount" placeholder="Tip Amount" ngModel>
              
            </div>
            <button type="submit" class="btn btn-primary mb-2" (click)="tipToPost(tipPostForm)" [class.disabled]="tipPostForm.value.tip_amount <= 0">Pay Tip</button>
          </form>
          <div *ngIf="tipPostForm.value.tip_amount <= 0 && tipPostAmount.touched">
            <small style="color: red;">Enter a valid Postitive amount</small>
        </div>
        </div>

        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
</div> -->

<div *ngIf="CurrentUserStateService.getCurrentUser().is_client" class="modal fade" id="deletePostModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Post</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>This Post will be completely Deleted from the Database and can't be retrieved later&hellip;</p>

          <div class="btn btn-danger" (click)="delete_post(post_details)">Delete Post</div>
          
        </div>

        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
</div>


