

<div class="post_card_container">
    <div class="post_card">
        <div class="post_header">
            <div class="post_client_profile">
                <img class="post_client_image rounded-circle" src="../../../../assets/images/profile_2.jpeg">
                <div class="post_client_info">
                    <div class="post_client_name">Username</div>
                    <div class="post_client_followers">100,900 Followers</div>
                </div>
            </div>
        </div>
        <div class="post_content">
            <div class="post_caption">
                {{post_details.caption}}
            </div>
            <div *ngIf="post_details.media" class="post_media">
                <img src={{post_details.media}}>
            </div>
            <div *ngIf="!post_details.media" class="post_media">
                <div class="no_access_media">
                    <img src="../../../../assets/icons/lock.svg">
                    <div class="btn btn-danger">Subscribe</div>
                </div>
                <img src="../../../../assets/images/post_2.jpg">
            </div>
        </div>
        <div class="post_footer">
            <div class="post_date_container">
                <img src="../../../../assets/icons/calendar.svg">
                <div>
                    <div>Publlished On</div>
                    <div class="post_publish_date">20 Feb 2021</div>
                </div>
            </div>
            <div class="post_views_container">
                <img src="../../../../assets/icons/view.svg">
                <div class="post_views_count">67k Views</div>
            </div>
            <div class="post_likes_container">
                <img src="../../../../assets/icons/heart_blank.svg">
                <div class="post_likes_count">67k Likes</div>
            </div>
            <div class="post_tips_container">
                <img src="../../../../assets/icons/tip_4.svg">
                <div class="post_tips_count">$67k Tips</div>
            </div>
            <div class="tip_me_container">
                <a class="btn tip_btn">
                    <img src="../../../../assets/icons/tip_2.svg">
                    <div>Tip Me</div>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="post_card_1">
        <div class="post_header">
            <div class="post_client_profile">
                <img class="post_client_image rounded-circle" src="../../../../assets/images/profile_2.jpeg">
                <div class="post_client_info">
                    <div class="post_client_name">Username</div>
                    <div class="post_client_followers">100,900 Followers</div>
                </div>
            </div>
        </div>
        <div class="post_content">
            <div class="post_caption">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, inventore, a tempora consequatur quos tenetur voluptatem, nisi optio minus facere qui itaque nam ut quae ipsum nemo repellat. Officiis, odio?
            </div>
            <div class="post_media">
                <div class="no_access_media">
                    <img src="../../../../assets/icons/lock.svg">
                    <div class="btn btn-danger">Subscribe</div>
                </div>
                <img src="../../../../assets/images/post_2.jpg">
            </div>
        </div>
        <div class="post_footer">
            <div class="post_date_container">
                <img src="../../../../assets/icons/calendar.svg">
                <div>
                    <div>Publlished On</div>
                    <div class="post_publish_date">20 Feb 2021</div>
                </div>
            </div>
            <div class="post_views_container">
                <img src="../../../../assets/icons/view.svg">
                <div class="post_views_count">67k Views</div>
            </div>
            <div class="post_likes_container">
                <img src="../../../../assets/icons/heart_blank.svg">
                <div class="post_likes_count">67k Likes</div>
            </div>
            <div class="post_tips_container">
                <img src="../../../../assets/icons/tip_4.svg">
                <div class="post_tips_count">$67k Tips</div>
            </div>
            <div class="tip_me_container">
                <a class="btn tip_btn">
                    <img src="../../../../assets/icons/tip_2.svg">
                    <div>Tip Me</div>
                </a>
            </div>
        </div>
    </div> -->
    
</div>

