

.content_type_container{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
    z-index: 2;
    transition: width 0.5s,position 0.1s;
    
}
.content_type{
    width: 10%;
    margin: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 40px;
    font-weight: 600;
    color: rgba(255,255,255,0.6);
}
.content_type img{
    max-height: 85%;
    max-width: 30%;
}
.active_content_type{
    background-color: var(--primary);
    color: white;
}
.fixedTop{
    position: fixed;
    top: 6vh;
    left: 0;
}
.fixedTopOpenSideNav{
    width: 85%;
    margin-left: 15%;
}


.client_cover_container{
    position: relative;
    width: 100%;
    height: 80vh;
    margin-top: 6vh;
    /* padding-bottom: 10px; */
}
.client_cover_image_container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.client_cover_image_container > img{
    max-height: 100%;
    width: 100%;
    margin: auto;
}
.client_cover_info{
    position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.client_name{
    width: 100%;
    text-align: center;
    font-size: 8vw;
    color: white;
    font-weight: 600;
}
.client_login_signup_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logIn_btn{
    width: 45%;
    position: cursor;
    text-align: center;
    padding: 15px;
    background-color: var(--primary);
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    color: white;
    border-radius: 30px;
}
.logIn_btn:hover{
    border: 2px solid var(--primary);
    background-color: transparent;
}
.signUp_btn{
    width: 45%;
    position: cursor;
    text-align: center;
    padding: 15px;
    background-color: var(--secondary);
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    color: white;
    border-radius: 30px;

}
.signUp_btn:hover{
    border: 2px solid var(--secondary);
    background-color: transparent;
}

.client_message_tip_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.meaasge_me_btn{
    width: 45%;
    position: cursor;
    text-align: center;
    padding: 15px;
    background-color: var(--primary);
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    color: white;
    border-radius: 30px;

}
.meaasge_me_btn:hover{
    color: var(--primary);
    border: 1px solid var(--primary);
    background-color: transparent;
}
.tip_me_btn{
    width: 45%;
    position: cursor;
    text-align: center;
    padding: 15px;
    background-color: var(--secondary);
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    color: white;
    border-radius: 30px;

}
.tip_me_btn:hover{
    color: var(--secondary);
    border: 1px solid var(--secondary);
    background-color: transparent;
}
.client_subscribe_btn_container{
    margin-top: 10px;
    width: 100%;

}
.subscribe_btn{
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background: linear-gradient(270deg,#FA26A0, #007bff);
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    color: white;
    padding: 15px;
    border-radius: 30px;

    
    
}

@media screen and (max-width: 760px){
    .client_cover_info{
        width: 95%;
    }
    .client_name{
        font-size: 4rem;
    }
    .content_type{
        width: 23%;
        padding: 12px 15px;


    }
    .content_type img{
        max-height: 90%;
        width: 50%;
    }
}