.content_type_container{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    background-color: gray;
    padding: 30px;
    z-index: 2;
    transition: width 0.5s,position 0.1s;
}
.content_type{
    width: 10%;
    margin: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.content_type img{
    max-height: 90%;
    max-width: 30%;
}
.active_content_type{
    background-color: #14213D;
    color: white;
}
.fixedTop{
    position: fixed;
    top: 6vh;
    left: 0;
}
.fixedTopOpenSideNav{
    width: 80%;
    margin-left: 20%;
}