.client_profile_container{
    margin: auto;
    width: 60%;
    padding-top: 10px;
}
.client_profile_image_container{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client_profile_picture{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client_profile_picture > img{
    object-fit: cover;
    width: 7rem;
    height: 7rem;

}
.client_change_profile_btn{
    background-color: #1D3557;
    color: white;
    font-weight: 600;
    max-width: 95%;

}
.client_username_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client_username{
    font-size: larger;
    font-weight: 600;
    text-align: center;
    width: 30%;
}
.client_change_username_btn{
    background-color: #1D3557;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 760px) {
    .client_profile_container{
        width: 95%;
    }
    .client_change_profile_btn{
        font-size: small;
        margin-left: 10px;
    }
    .client_change_username_btn{
        font-size: small;
        margin-left: 10px;
    }
}

.btn{
    box-shadow: 2px 4px 5px gray;
    font-weight: 600;
}
.btn:hover{
    box-shadow: 4px 8px 5px gray;
    transform: translate(-1px,-1px);
}